{%extends 'base.html'%}

{%block content%}
<div>
    <form id="reset_form" action="{% url 'rest_password_reset_confirm' %}" role="form" method="POST">{% csrf_token %}
        
        <input hidden name="uid" id="uid" type="text"/>
        <input hidden name="token" id="token" type="text"/>

        <div>
            <label for="new_password1">Password</label>
            <div>
                <input name="new_password1" type="password" id="new_password1" placeholder="Password">
            </div>
        </div>    
        
        <div>
            <label for="new_password2"> Confirm Password</label>
            <div>
                <input name="new_password2" type="password" id="new_password2" placeholder="Password">
            </div>
        </div>
        <div>
            <div>
                <button type="submit">Reset</button>
            </div>
        </div>
    </form>
</div>
<script>
    const urlpath = window.location.pathname.split('/')
    console.log(urlpath);
    let uid_element = document.getElementById('uid');
    let token_element = document.getElementById('token');
    uid_element.value = urlpath[4];
    token_element.value = urlpath[5];

</script>
{%endblock%}